/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#4d4a49  ;
  background-size: auto 100vh; 
  font-family: 'Simonetta', cursive;
  height: 100vh;
  font-size: 12px;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 1em;

  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    background-attachment: fixed;
    background-size: cover;
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
   
    font-size: 20px;
  }
}

header {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
 list-style: none; 
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color 1s, color 1s;
}

.menu a:active,
.menu a:hover {
  background-color: teal;
  color: white;
}

a {
  color: teal;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.titulo {
  transform: scale(0.2) translateY(50vh);
  opacity: 0;
  animation: 0.5s ease 250ms animacaoTitulo forwards;
}


@keyframes animacaoTitulo {
  from {
    transform: scale(1) translateX(-50vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateX(0);
    opacity: 1;
  }
}


.site-subtitle, 
.site-title {
 
  text-align: center;
  border-left: 5px;

}

.site-title {
  font-size: 4em;
  font-family: 'Faster One', cursive;
  color:#a7f6f6;
}
.colorido{
  color:whitesmoke
}

.site-subtitle {
 font-style: italic;
 font-family: 'Courgette', cursive;
 line-height: 1.8em;
 color: whitesmoke;
}

.sobre,
.contato,
.portfolio {
  padding: 2em;
  min-height: 50vh;
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family: 'Simonetta', cursive;
  color: whitesmoke;
  margin-bottom: 1.5em;
  font-size: 2em;
}

.sobre  {
  color: white;
  text-indent: 1.4em;
  margin-bottom: 1.4em;
  text-align: justify;
}

.sobre a {
  color: white;
  text-decoration: underline;
}

.sobre a:hover {
  background-color: cyan;
  text-decoration: none;
  color: black;
}
.sobre .figure{
  margin-left: 2em;

}

.figure img {
  max-width:200px;
  max-height:150px;
  width: auto;
  height: auto;
  float: inherit;
  margin-top: 90px;
  margin-left: 5px;
}

@media(min-width: 760px){
  .figure img {
    max-width:500px;
    max-height:350px;
    width: auto;
    height: auto;
  }
}
.portfolio .grid {
  display: grid;
  gap: 2em;
}
.portfolio .figures img {
  max-width:300px;
  max-height:350px;
  width: auto;
  height: auto;

}



.contato .gridicons {
  text-align: center;
}

.contato a {
  color: whitesmoke;
  font-size: 4em;
}
.numeros{
  color: whitesmoke;
  font-size: 1.5em;
}